[user]
# Please adapt and uncomment the following lines:
	name = Johan Eliasson
	email = johan@eliasson.me
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
[push]
	default = simple
	default = current
	autoSetupRemote = true